* {
    font-family: 'Noto Serif', serif;
}


/***********************************************************
*******************ESTILOS PARA INDEX.PHP*******************
***********************************************************/
body.categorias{
    min-height: 100vh;
    background-image: linear-gradient(190deg,#ffcccc,#cd84f1);
}

h3.hcate{
    font-weight: 700;
}