/*******************Estilos generales*******************/
* {
    font-family: 'Roboto', sans-serif;
}


/*******************Pagina index*******************/

button.bt-crear-cuenta, a.bt-crear-cuenta{
	background-color: #636e72;
	font-weight: bold;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 2px solid #636e72;
	box-sizing: border-box;
}

button.bt-ingresar, a.bt-ingresar{	
	font-weight: bold;
	color: #636e72;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 2px solid #636e72;
	box-sizing: border-box;
}

/*******************Barra sesion*******************/
.navsesion{
    margin-top: 70px;
}


/*******************Pagina inicio*******************/
a.botonplus{
    color: #fd79a8;
    background-color: #2d3436;

}

.boton-inisesion{
	background-color: #55efc4;
	color: #fff;
}

/*CATEGORIAS*/

.cat-unas{
	border: 2px solid #f4aaad;
	color: #f4aaad;
}

.cat-cera{
	border: 2px solid #f4b894;
	color: #f4b894;
}

.cat-spa{
	border: 2px solid #f5abe2;
	color: #f5abe2;
}

/*FORMULARIOS*/

input.campo-input:focus{
	background-color: #dfe6e9;
}