* {
    font-family: 'Noto Serif', serif;
}


/***********************************************************
*******************ESTILOS PARA INDEX.PHP*******************
***********************************************************/
body.categorias{
    min-height: 100vh;
    background-color: #81ecec;
}

h3.hcate{
    font-weight: 700;
}