* {
    font-family: 'Noto Serif', serif;
}


/*******************Pagina index*******************/


/*******************Barra sesion*******************/
.navsesion{
    padding-top: 70px;
}


/*******************Pagina inicio*******************/
.botonplus{
    font-size: 60px;
    color: #00cec9;
}



.linkbtnplus:hover{
    background-color: #81ecec;
}


.boton-inisesion{
	background-color: #55efc4;
	color: #fff;
}