* {
    font-family: 'Noto Serif', serif;
}


/***********************************************************
*******************Pagina index*******************
***********************************************************/

